@inherits LayoutComponentBase
@layout inventor.Components.Layout.MainLayout
<div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <ManageNavMenu />
        </div>

        <hr />
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>
